<div class="container">
  <div class="content">
      <img alt="Angular Logo" [src]="propUrlImg">
      <div>
        <div><p>{{currentNews.title}}</p></div>
        <p>{{currentNews.description}}</p>
        <div><p>{{currentNews.publishedAt.slice(11, 19)}}</p></div>
        <div><p>{{currentNews.publishedAt.slice(0, 10)}}</p></div>
        <div><p>{{currentNews.author}}</p></div>
      </div>
  </div>

  <div class="button" *ngIf="isCurrentUser">
      <button [routerLink]="['/main/edit/', currentNews.source.id]">Edit</button>
      <button (click)="delete()">Delete</button>
  </div>
</div>
