.container {
  margin: 20px;
}

form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid black;

  div {
    margin-right: 20px;
  }

  input {
    display: block;
    width: 220px;
    height: 20px;
  }

  input[type="radio"] {
    display: inline-block;
    width: 10px;
  }

  textarea {
    width: 220px;
    display: block;
    height: 100px;
  }

  label {
    display: block;
  }

  button {
    margin: 10px;
    width: 50px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
