<div [className]="'container'">
  <form [formGroup]="newsItem">
    <div>
      <label>
        Heading:
        <input type="text" formControlName="heading">
      </label>
      <label>
        Short description:
        <input type="text" formControlName="description">
      </label>
      <label>
        Content:
        <textarea type="text" [className]="'content'" formControlName="content"></textarea>
      </label>
    </div>
    <div>
      <label>
        Image:
        URL
        <input type="radio" name="link" value="url" formControlName="link">
        File
        <input type="radio" name="link" value="file" formControlName="link">

        <input type="text" formControlName="image">
      </label>
      <label>
        Date:
        <input type="date" formControlName="date">
      </label>
      <label>
        Author:
        <input type="text" formControlName="author">
      </label>
      <label>
        Source URL:
        <input type="text" formControlName="source">
      </label>
      <button (click)="save()">Save</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
